# Question 1

In [4]:
age = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
age.sort()  #sorting the age list as per requirement 
print(age)  #printing the age in sorted order

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [9]:
maxage = max(age)   #finding the maximum age in the list
minage = min(age)   #finding the minimum age in the list
print("Max age = ",maxage)
print("Min age = ",minage)

Max age =  26
Min age =  19

In [10]:
age.append(maxage)   #adding max age to the list
age.append(minage)   #adding min age to the list
print(age)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 19]

In [11]:
age.sort()  #sorting the age list again to find the median
m = len(age)   #getting the length of the list
n = m // 2 
if(m % 2 == 0):   #if the length is even then will take 2 middle elements
    print("Median = ",(age[n-1] + age[n]) / 2)  
else:      ##if the length is odd, just the middle element
    print("Median = ",age[n])

Median =  24.0

In [13]:
sum = 0
for i in age:
    sum = sum + i   #Adding all the numbers in age list to get the total sum
print("Average is =", sum/m)        #total sum divided by total no of elements gives the average

Average is = 22.75

In [17]:
print("Range of list is", maxage-minage)        #maxage - minage gives us the range of the list

Range of list is 7

# Question 2

In [19]:
dog = {}     #creating dictionary
dog = {"name" : "Tiesto", "color" : "Golden", "breed" : "Golden retriever", "legs" : "4", "age" : "2"}  #adding attributes of the dog
student = {"first_name" : "Aayush", "last_name":"Agrawal", "gender":"male", "age":"28", "marital status":"Single",
"skills":["Growth Mindset","Adaptability"], "country":"Nepal", "city":"Kathmandu","address":"Baafal"}    #Creating student dictionary
print("Length of student dictionary is :",len(student))

Length of student dictionary is : 9

In [24]:
print("Values of skills are:", student["skills"])     #Printing the values of skills key in student dictionary

Values of skills are: ['Growth Mindset', 'Adaptability']

In [26]:
print("Data type of skills is:",type(student.get("skills")))    ##Getting the data type

Data type of skills is: <class 'list'>

In [27]:
student['skills'].append("Team Player")
student_keys = student.keys()
print(student_keys)      #Getting the keys of student dictionary

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])

In [28]:
student_values = student.values()
print(student_values)       #Printing student values

dict_values(['Aayush', 'Agrawal', 'male', '28', 'Single', ['Growth Mindset', 'Adaptability', 'Team Player'], 'Nepal', 'Kathmandu', 'Baafal'])

# Question 3

In [29]:
brothers = ("Abhi", "Ankur")     #Creating a brother tuple
sisters = ("Deevoo", "Avantika", "Shaalu")    #creating a sister tuple
siblings = brothers + sisters     #Adding 2 tuples
print("Total siblings that I have is :", len(siblings))

Total siblings that I have is : 5

In [30]:
family_members = siblings + ("Ajesh", "Sneha")
print("Members of my family", family_members)

Members of my family ('Abhi', 'Ankur', 'Deevoo', 'Avantika', 'Shaalu', 'Ajesh', 'Sneha')

# Question 4

In [31]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("Length of IT companies is",len(it_companies))

Length of IT companies is 7

In [32]:
it_companies.add('twitter')    #Adding a company to the set
it_companies.update(['Tesla','LinkedIn','Audible'])   #Adding multiple companies to the set
it_companies.remove('Apple')    #Removing a company from the set
print("Updates IT companies are:",it_companies)

Updates IT companies are: {'twitter', 'LinkedIn', 'Google', 'Amazon', 'IBM', 'Audible', 'Microsoft', 'Facebook', 'Oracle', 'Tesla'}

In [33]:
###Discard function just deletes the element from the set if it is present and if it is not, it does nothing whereas 
###if we use remove and if the element is not present in the set, then it throws an error

In [34]:
print(A.union(B))   #Joining A and B

{19, 20, 22, 24, 25, 26, 27, 28}

In [35]:
print(A.intersection(B))   #Getting the common elements in A and B

{19, 20, 22, 24, 25, 26}

In [36]:
print(A.issubset(B))   #Checking is A is a subset of B or not

True

In [37]:
print(A.isdisjoint(B))    #Checking if they are disjoint or not

False

In [39]:
print(A.union(B))
print(B.union(A))   #Joining A with B then B with A

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [40]:
print(A.symmetric_difference(B))    #Getting the symmetric difference

{27, 28}

In [41]:
del A
del B   #Deleting A and B

In [42]:
set(age)    #Converting age to a set

{19, 22, 24, 25, 26}

In [43]:
print(len(set(age)) == len(age))      #Comparing the length of 2 sets

False

# Question 5

In [44]:
r = 30
_area_of_circle = 3.14*r*r
print("Area of the circle is:",_area_of_circle)    #Calculating the area of the circle and printing it

Area of the circle is: 2826.0

In [45]:
_circum_of_circle_ = 2*3.14*r
print("Circumference of the circle is:",_circum_of_circle_)   #Calculating the circumference of the circle and printing it

Circumference of the circle is: 188.4

In [46]:
rad = int(input("Please enter the radius of the circle:"))   #This line takes input from the user
new_area = 3.14*rad*rad
print("The new area of the circle is:",new_area)   ##Calculating the area based on input from user

Please enter the radius of the circle:20
The new area of the circle is: 1256.0

# Question 6

In [47]:
sentence = "I am a teacher and I love to inspire and teach people"
print("Unique words in the sentence above is:",len(set(sentence.split())))   #Gives the unique words in the string

Unique words in the sentence above is: 10

# Question 7

In [48]:
print("Name\t\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")   #Using tab escape to print the format as given

Name		Age	Country	City
Asabeneh	250	Finland	Helsinki

# Question 8

In [50]:
print(f'\nradius = {10}')     #Using String formatting to display the sentences
print(f'area = {3.14} * radius ** {2}')
print(f'The area of a circle with radius {10} is {314} meters square.')

radius = 10
area = 3.14 * radius ** 2
The area of a circle with radius 10 is 314 meters square.

# Question 9

In [51]:
weights = []
print("Please enter weights of 5 different individuals in pounds")
for i in range(0,5):
    weight = float(input())   #Getting 5 different inputs from users
    weights.append(weight)    #Adding it to the list

weights_kg = []     #Declaring a new list which will contain the weight in kgs
for i in range(0,5):
    new_weight = weights[i] * 0.453592   #Going through thte list in pounds and converting it into kgs
    weights_kg.append(new_weight)        #Adding it to the new list
print(weights_kg)

Please enter weights of 5 different individuals in pounds
10
20
30
40
50
[4.53592, 9.07184, 13.607759999999999, 18.14368, 22.6796]