# (a)

In [11]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import metrics
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [12]:
df= pd.read_csv(r"CC.csv")

df.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [13]:
df.shape

(8950, 18)

In [14]:
df = df.drop("CUST_ID", axis=1)  #Dropping customer ID as this feature is not

In [15]:
df.isnull().sum()      #Checking if the dataset has null values or not

BALANCE                               0
BALANCE_FREQUENCY                     0
PURCHASES                             0
ONEOFF_PURCHASES                      0
INSTALLMENTS_PURCHASES                0
CASH_ADVANCE                          0
PURCHASES_FREQUENCY                   0
ONEOFF_PURCHASES_FREQUENCY            0
PURCHASES_INSTALLMENTS_FREQUENCY      0
CASH_ADVANCE_FREQUENCY                0
CASH_ADVANCE_TRX                      0
PURCHASES_TRX                         0
CREDIT_LIMIT                          1
PAYMENTS                              0
MINIMUM_PAYMENTS                    313
PRC_FULL_PAYMENT                      0
TENURE                                0
dtype: int64

In [16]:
df = df.fillna(df.mean())   #Filling with mean in place of null

In [17]:
pca = PCA(2)      #Giving the no. of components to be 2 for PCA
pca.fit(df)

PCA(n_components=2)

In [18]:
x_pca = pca.fit_transform(df)        
df2 = pd.DataFrame(data=x_pca, columns = ['principal component 1', 'principal component 2'])
print(df2)         #Printing the 2 components after applying PCA

      principal component 1  principal component 2
0              -4326.383956             921.566884
1               4118.916676           -2432.846347
2               1497.907660           -1997.578692
3               1394.548556           -1488.743450
4              -3743.351874             757.342659
...                     ...                    ...
8945           -4208.357938            1122.443274
8946           -4123.924001             951.683803
8947           -4379.444202             911.504566
8948           -4791.117744            1032.540944
8949           -3623.702749            1555.134769

[8950 rows x 2 columns]

# (b)

In [23]:
nclusters = 2           # Applying k-means and giving cluster size as 4
km = KMeans(n_clusters=nclusters)
km.fit(df2)

KMeans(n_clusters=2)

In [24]:
Y_Cluster_Kmeans = km.predict(df2)
score = metrics.silhouette_score(df2, Y_Cluster_Kmeans)
print(score)         #Calculating the silhouette score

0.5980170297658037

# (c)

In [26]:
scaler = StandardScaler()
X_Scale = scaler.fit_transform(df)      #Applying feature scale to the data

In [27]:
pca = PCA(2)
x_pca = pca.fit_transform(X_Scale)     #Now applying PCA after scaling the data

In [28]:
nclusters = 2          
km = KMeans(n_clusters=nclusters)
km.fit(x_pca)                #Performing Scaling + k-means + PCA

KMeans(n_clusters=2)

In [30]:
Y_Cluster_Kmeans = km.predict(x_pca)
score = metrics.silhouette_score(x_pca, Y_Cluster_Kmeans)
print(score)       #Getting the silhouette score after applying Scaling + K-means + PCA

0.46485157878096023

# As we can see, the silhouette score decreases after scaling the data and then preprocessing it with PCA and applying K-means